


<div class="container mt-3">
    <h2 style="color: red;"><b>Parent Component</b></h2>
    <div class="card">

      <div class="card-header" style="background-color: skyblue;">Parent</div>

      <div class="card-body" style="background-color: yellow;">
      <p style="color: blueviolet;"><mark>This is parent Component</mark></p>

      <br><br>
      <p style="color: blue;"> <mark>Data from child component is: {{dataFromChildToParent}}</mark></p>

      </div> 

      <div class="card-footer" style="background-color: skyblue;">Footer</div>

    </div>

  </div>
  
<app-child [parentData]="dataFromParentToChild" (itemtEvent)="emitDataFromChild($event)"></app-child>

<!-- <app-first></app-first> -->

<!-- <app-staff></app-staff> -->